
@{
    ViewBag.Title = "Blow Out!";
}

        <div class="container">
            <img src="~/Graphics/GuitarImage.jpg" alt="Guitar" style="width:100%"/>
            <div class="centered">
                <font color="white">
                    <h1>Welcome to Blow Out!</h1>
                    <p>We blow our competitors out of the water.</p>
                </font>
            </div>
        </div>

<br />
<br />

<row>
    <div class="col-lg-8">
        <div class="text-center">
            <font color="black">
                <h4>
                    Blow Out provides rentals of new and used musical instruments.
                </h4>
            </font>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="text-center">
            
                <font color="black">
                    <h4 style="border:medium; border-style:solid; border-color:black; padding:15px">
                        <i>
                            "It's easy to play any musical instrument:
                            all you have to do is touch the right key at the right time and the instrument will play itself."
                            <br />- Johann Sebastian Bach
                        </i>
                    </h4>
                </font>
          
        </div>
    </div>
</row>

@ViewBag.Output


