
@{
    ViewBag.Title = "Rentals";
}

<h2>Rentals</h2>

<br />
<br />

<row>
    <div class="col-lg-4" style="padding:10px">
        <a href='@Url.Action("Index", "Home")'>
            <img src="~/Graphics/trumpet.jpg" />
        </a>
    </div>
    <div class="col-lg-4" style="padding:10px">
        <a href='@Url.Action("Index","Home")'>
            <img src="~/Graphics/trombone.jpg" />
        </a>
    </div>
    <div class="col-lg-4" style="padding:10px">
        <img src="~/Graphics/tuba.jpg" />
    </div>
</row>

<row>
    <div class="col-lg-4" style="padding:10px">
        <img src="~/Graphics/flute.jpg" />
    </div>
    <div class="col-lg-4" style="padding:10px">
        <img src="~/Graphics/clarinet.jpg" />
    </div>
    <div class="col-lg-4" style="padding:10px">
        <img src="~/Graphics/saxaphone.jpg" />
    </div>
</row>
<br />
<br />
<br />