footer {
    font-family: 'Times New Roman';
}

div{
    font-family: 'Sitka Banner', Garamond;
}

h1{
    font-family: 'Sitka Banner', Garamond;
}

h4 {
    font-family: 'Sitka Banner', Garamond;
}

p{
    font-family: 'Sitka Banner', Garamond;
}